@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--base-50: oklch(0.98 0.005 265.754);
	--base-100: oklch(0.95 0.01 265.754);
	--base-200: oklch(0.9 0.015 265.754);
	--base-300: oklch(0.8 0.02 265.754);
	--base-400: oklch(0.7 0.025 265.754);
	--base-500: oklch(0.6 0.03 265.754);
	--base-600: oklch(0.5 0.035 265.754);
	--base-700: oklch(0.4 0.039 265.754);
	--base-800: oklch(0.3 0.039 265.754);
	--base-900: oklch(0.20768 0.039 265.754);
	--base-950: oklch(0.19314 0.037 265.754);
	--base-1000: oklch(0.1786 0.034 265.754);
	--primary-50: oklch(0.98 0.03 232.661);
	--primary-100: oklch(0.95 0.06 232.661);
	--primary-200: oklch(0.9 0.1 232.661);
	--primary-300: oklch(0.85 0.12 232.661);
	--primary-400: oklch(0.75351 0.138 232.661);
	--primary-500: oklch(0.65 0.12 232.661);
	--primary-600: oklch(0.55 0.1 232.661);
	--primary-700: oklch(0.45 0.08 232.661);
	--primary-800: oklch(0.35 0.06 232.661);
	--primary-900: oklch(0.25 0.04 232.661);
	--primary-950: oklch(0.1507 0.027 232.661);
	--primary-1000: oklch(0.1 0.015 232.661);
	--secondary-50: oklch(0.98 0.03 276.934);
	--secondary-100: oklch(0.95 0.06 276.934);
	--secondary-200: oklch(0.9 0.1 276.934);
	--secondary-300: oklch(0.85 0.13 276.934);
	--secondary-400: oklch(0.68011 0.158 276.934);
	--secondary-500: oklch(0.6 0.14 276.934);
	--secondary-600: oklch(0.5 0.12 276.934);
	--secondary-700: oklch(0.4 0.1 276.934);
	--secondary-800: oklch(0.3 0.08 276.934);
	--secondary-900: oklch(0.2 0.06 276.934);
	--secondary-950: oklch(0.13602 0.031 276.934);
	--secondary-1000: oklch(0.08 0.02 276.934);
	--background: var(--base-950);
	--foreground: var(--base-100);
	--card: var(--base-900);
	--card-foreground: var(--base-100);
	--popover: var(--base-900);
	--popover-foreground: var(--base-100);
	--primary: var(--primary-400);
	--primary-foreground: var(--primary-950);
	--secondary: var(--secondary-400);
	--secondary-foreground: var(--secondary-950);
	--muted: var(--base-800);
	--muted-foreground: var(--base-400);
	--accent: var(--base-800);
	--accent-foreground: var(--base-100);
	--destructive: oklch(0.71785 0.17 13.118);
	--border: var(--base-700);
	--input: var(--base-600);
	--ring: var(--primary-400);
	--chart-1: var(--primary-400);
	--chart-2: var(--secondary-400);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-200);
	--radius: 1rem;
	--sidebar: var(--base-900);
	--sidebar-foreground: var(--base-100);
	--sidebar-primary: var(--primary-400);
	--sidebar-primary-foreground: var(--primary-950);
	--sidebar-accent: var(--base-800);
	--sidebar-accent-foreground: var(--base-100);
	--sidebar-border: var(--base-700);
	--sidebar-ring: var(--primary-400);
}

.dark {
	--base-50: oklch(0.98 0.005 265.754);
	--base-100: oklch(0.95 0.01 265.754);
	--base-200: oklch(0.9 0.015 265.754);
	--base-300: oklch(0.8 0.02 265.754);
	--base-400: oklch(0.7 0.025 265.754);
	--base-500: oklch(0.6 0.03 265.754);
	--base-600: oklch(0.5 0.035 265.754);
	--base-700: oklch(0.4 0.039 265.754);
	--base-800: oklch(0.3 0.039 265.754);
	--base-900: oklch(0.20768 0.039 265.754);
	--base-950: oklch(0.19314 0.037 265.754);
	--base-1000: oklch(0.1786 0.034 265.754);
	--primary-50: oklch(0.98 0.03 232.661);
	--primary-100: oklch(0.95 0.06 232.661);
	--primary-200: oklch(0.9 0.1 232.661);
	--primary-300: oklch(0.85 0.12 232.661);
	--primary-400: oklch(0.75351 0.138 232.661);
	--primary-500: oklch(0.65 0.12 232.661);
	--primary-600: oklch(0.55 0.1 232.661);
	--primary-700: oklch(0.45 0.08 232.661);
	--primary-800: oklch(0.35 0.06 232.661);
	--primary-900: oklch(0.25 0.04 232.661);
	--primary-950: oklch(0.1507 0.027 232.661);
	--primary-1000: oklch(0.1 0.015 232.661);
	--secondary-50: oklch(0.98 0.03 276.934);
	--secondary-100: oklch(0.95 0.06 276.934);
	--secondary-200: oklch(0.9 0.1 276.934);
	--secondary-300: oklch(0.85 0.13 276.934);
	--secondary-400: oklch(0.68011 0.158 276.934);
	--secondary-500: oklch(0.6 0.14 276.934);
	--secondary-600: oklch(0.5 0.12 276.934);
	--secondary-700: oklch(0.4 0.1 276.934);
	--secondary-800: oklch(0.3 0.08 276.934);
	--secondary-900: oklch(0.2 0.06 276.934);
	--secondary-950: oklch(0.13602 0.031 276.934);
	--secondary-1000: oklch(0.08 0.02 276.934);
	--background: var(--base-950);
	--foreground: var(--base-100);
	--card: var(--base-900);
	--card-foreground: var(--base-100);
	--popover: var(--base-900);
	--popover-foreground: var(--base-100);
	--primary: var(--primary-400);
	--primary-foreground: var(--primary-950);
	--secondary: var(--secondary-400);
	--secondary-foreground: var(--secondary-950);
	--muted: var(--base-800);
	--muted-foreground: var(--base-400);
	--accent: var(--base-800);
	--accent-foreground: var(--base-100);
	--destructive: oklch(0.71785 0.17 13.118);
	--border: var(--base-700);
	--input: var(--base-600);
	--ring: var(--primary-400);
	--chart-1: var(--primary-400);
	--chart-2: var(--secondary-400);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-200);
	--radius: 1rem;
	--sidebar: var(--base-900);
	--sidebar-foreground: var(--base-100);
	--sidebar-primary: var(--primary-400);
	--sidebar-primary-foreground: var(--primary-950);
	--sidebar-accent: var(--base-800);
	--sidebar-accent-foreground: var(--base-100);
	--sidebar-border: var(--base-700);
	--sidebar-ring: var(--primary-400);
}

.night {
	--base-50: oklch(0.98 0.005 265.754);
	--base-100: oklch(0.95 0.01 265.754);
	--base-200: oklch(0.9 0.015 265.754);
	--base-300: oklch(0.8 0.02 265.754);
	--base-400: oklch(0.7 0.025 265.754);
	--base-500: oklch(0.6 0.03 265.754);
	--base-600: oklch(0.5 0.035 265.754);
	--base-700: oklch(0.4 0.039 265.754);
	--base-800: oklch(0.3 0.039 265.754);
	--base-900: oklch(0.20768 0.039 265.754);
	--base-950: oklch(0.19314 0.037 265.754);
	--base-1000: oklch(0.1786 0.034 265.754);
	--primary-50: oklch(0.98 0.03 232.661);
	--primary-100: oklch(0.95 0.06 232.661);
	--primary-200: oklch(0.9 0.1 232.661);
	--primary-300: oklch(0.85 0.12 232.661);
	--primary-400: oklch(0.75351 0.138 232.661);
	--primary-500: oklch(0.65 0.12 232.661);
	--primary-600: oklch(0.55 0.1 232.661);
	--primary-700: oklch(0.45 0.08 232.661);
	--primary-800: oklch(0.35 0.06 232.661);
	--primary-900: oklch(0.25 0.04 232.661);
	--primary-950: oklch(0.1507 0.027 232.661);
	--primary-1000: oklch(0.1 0.015 232.661);
	--secondary-50: oklch(0.98 0.03 276.934);
	--secondary-100: oklch(0.95 0.06 276.934);
	--secondary-200: oklch(0.9 0.1 276.934);
	--secondary-300: oklch(0.85 0.13 276.934);
	--secondary-400: oklch(0.68011 0.158 276.934);
	--secondary-500: oklch(0.6 0.14 276.934);
	--secondary-600: oklch(0.5 0.12 276.934);
	--secondary-700: oklch(0.4 0.1 276.934);
	--secondary-800: oklch(0.3 0.08 276.934);
	--secondary-900: oklch(0.2 0.06 276.934);
	--secondary-950: oklch(0.13602 0.031 276.934);
	--secondary-1000: oklch(0.08 0.02 276.934);
	--background: var(--base-950);
	--foreground: var(--base-100);
	--card: var(--base-900);
	--card-foreground: var(--base-100);
	--popover: var(--base-900);
	--popover-foreground: var(--base-100);
	--primary: var(--primary-400);
	--primary-foreground: var(--primary-950);
	--secondary: var(--secondary-400);
	--secondary-foreground: var(--secondary-950);
	--muted: var(--base-800);
	--muted-foreground: var(--base-400);
	--accent: var(--base-800);
	--accent-foreground: var(--base-100);
	--destructive: oklch(0.71785 0.17 13.118);
	--border: var(--base-700);
	--input: var(--base-600);
	--ring: var(--primary-400);
	--chart-1: var(--primary-400);
	--chart-2: var(--secondary-400);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-200);
	--radius: 1rem;
	--sidebar: var(--base-900);
	--sidebar-foreground: var(--base-100);
	--sidebar-primary: var(--primary-400);
	--sidebar-primary-foreground: var(--primary-950);
	--sidebar-accent: var(--base-800);
	--sidebar-accent-foreground: var(--base-100);
	--sidebar-border: var(--base-700);
	--sidebar-ring: var(--primary-400);
}

@theme inline {
	--font-sans: "Inter Variable", sans-serif;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply font-sans bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
